@import "../../../css/style.scss";
.sets{
    top:3.5rem;
    bottom:0;
}
.focusd{
    width:100%;
    border:1px solid #eeee;
    >div{
        width:90%;
        height:4.5rem;
        margin:0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin:0.5rem auto;
        >div:nth-child(1){
            display: flex;
            >div:nth-child(1){
                width:3.5rem;
                height:3.5rem;
                border-radius:50%;
                overflow: hidden;
                >img{
                    width:100%;
                    height:100%;
                }
            }
            >div:nth-child(2){
                height:100%;
                margin-left:0.5rem;
                display: flex;
                flex-direction: column;
                justify-content:space-around;
                >div:nth-child(1){
                    width: 5rem;
                    height:2rem;
                    line-height:2rem;
                    font:$fonta;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
        >div:nth-child(2){
            width:30%;
            height:100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            >div{
                box-sizing: content-box;
                display: flex;
                align-items: center;
                justify-content: center;
                padding:0.2rem 0.4rem;
                border-radius:0.4rem;
                border:1px solid #eeeeee;
            }
        }
    }
}
.qux{
    color:white;
    background-color:rgb(255,46,85);
}
