@import "../../../css/style.scss";
.sets{
    top:4.125rem;
    bottom:0;
    >div{
        width:100%;
        margin:0 auto;
    }
}

#content {
    padding:1rem;
    border-radius:2px;
//  border: 1px solid saddlebrown;

}
._p>div:nth-child(1){
    font:$fontc;
}
._p>a{
    display:block;
    width:35%;
    margin:0 auto;
}
.list{
    height:7rem;
    border: 1px solid #eeeeee;
    border-radius: 2px;
    position: relative;
    line-height: 40px;
    >span{
        display: inline-block;
        text-align: center;
        width:100%;
        line-height: 40px;
        position: absolute;
        top:30%;
        color: #0082E6;
        font-size: 15px;
    }
}
.sds{
    width:11rem;
    height: 3.15rem;
    background-color: #eeeeee;
    border-radius: 1.5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    color:#5cc0be;
    font:normal 1.2rem SimHei;
    margin:1rem auto 0;
}
#file {
    position: absolute;
    opacity: 0;
    color: white;
    width: 100%;
    height: 100%;
    z-index: 100;
}
#file{
    display: inline-block;
    width:100%;
    border:1px solid red;
}
#videoName{
    width:20rem;
    height:2rem;
    display: flex;
    margin:1rem auto;
    display: none;
    border:1px solid #eeeeee;
    >input{
        width:100%;
        height:100%;
        text-align: center;
    }
}
.ffs{
    padding: 1rem;
    border-radius: 2px;
    border-bottom:1px solid #eeeeee;
    >div:nth-child(1){
        width:35%;
        >span{
            font:$fontc;
        }
    }
}
.sd{
    width:100%;
    height:9rem;
    margin:0 auto;
    display: flex;
    align-items: center;
    >label{
        width:8rem;
        height: 100%;
        display: flex;
        align-items: center;
        margin:1rem auto;
        >img{
            width: 100%;
            height:100%;
            display: block;
        }
        >input{
            display: none;
        }
    }
}
#time,.el-progress__text{
    height:2rem;
    display: flex;
    align-items: center;
}
.tys{
    padding:1rem;
    width:100%;
    margin-top: 0.789rem;
    font-size:0.64rem;
    >div:nth-child(1){
        width:100%;
        height:100%;
        margin:0 auto;
        display: flex;
        align-items: center;
        >div:nth-child(1){
            font:$fontc;
        }
        >select{
            width:auto;
            outline: none;
            padding:1% 5%;
            background:white;
//          font:$fonta;
            >option{
                font:$fontc;
                text-align: center;
            }
        }
    }
    >div:nth-child(2){
        >div:nth-child(1){
            font:$fontc;
        }
        >div:nth-child(2){
            width:90%;
            height:6rem;
            margin:0.2rem auto 0.5rem;
            overflow: auto;
            border:1px solid gray;
            >article{
                padding:0 0.2rem;
                width:100%;
                height:100%;
                border-left:none;
                border-right:none;
                font:$fonta;
                outline:none;
                overflow: hidden;
            }
        }
    }
}