@import "../../../css/style.scss";
html, body {
    height:100%;
    overflow: auto;
    position: relative;
    top: 0;
    left: 0;
}
.heads{
    width: 100%;
    height:6rem;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0rem 0rem 0.269rem 0.073rem rgba(173, 173, 173, 0.52);
//  z-index:1;
    >div:nth-child(1){
        width:75%;
        height:2.6rem;
        margin:0.5rem auto 0;
        >input{
            width:100%;
            height:100%;
            border:1px solid #eeeeee;
        }
    }
    >div:nth-child(2){
        width:4rem;
        height:2.9rem;
        margin:0 auto;
        text-align: center;
        font:$fontb;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.sets{
    top:6.125rem;
//  top:0;
    bottom:5rem;
//  z-index: 0;
    >div{
        width:95%;
        margin:0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
    }
}
.videos{
    width:48%;
    height:18rem;
    margin-bottom:1rem;
    overflow: hidden;
    position: relative;
    >img{
        width:100%;
        height:100%;
    }
    >div:nth-child(2){
        width:90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top:0.5rem;
        left:5%;
        >div:nth-child(1){
            display: flex;
            align-items:center;
            >div:nth-child(1){
                width:2.5rem;
                height:2.5rem;
                overflow: hidden;
                >img{
                    width:100%;
                }
            }
            >div:nth-child(2){
                font:$fonta;
                margin-left:0.3rem;
            }
        }
        >div:nth-child(2){
            font:$fonta;
        }
    }
    >div:nth-child(3){
        position: absolute;
        left:0;
        bottom:0.3rem;
        display: flex;
        >div{
            color:gray;
            font-size:1.8rem;
            display: flex;
            align-items: flex-end;
            margin-left:0.2rem;
            span{
                display:block;
                color:gray;
                font-size:1rem;
            }
        }
    }
}
.footersd{
    >a:nth-child(1){
        color:#36e0d6;
    }
}