@import "../../../css/style.scss";
#swiper1{
    width:100%;
    height:4rem;
    position:absolute;
    top:0;
    left:0;
    .swiper-slide{
        >div{
            width:100%;
            height:100%;
            font:$fonta;
            display: flex;
            align-items: center;
            justify-content: center;
            border:1px solid #eeeeee;
            box-shadow: 0rem 0.5rem 0.269rem 0.073rem rgba(173, 173, 173, 0.05);
        }
    }
}
.sets{
    top:4.125rem;
    bottom:5rem;
    >div{
        width:95%;
        margin:0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
    }
}
.footersd{
    >a:nth-child(2){
        color:#36e0d6;
    }
}